@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #050505;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 10px;
}

.input {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 14px;
  border-radius: 16px;
  color: white;
  outline: none;
  width: 100%;
}

.input::placeholder {
  color: rgba(255,255,255,0.4);
}